{% extends 'base.html' %} {% block head %}
<title>電影查詢</title>
{% endblock %} {% block body %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
    var redirectUrl = "{{ url_for('movies.search_movies', searchTerm='') | tojson | safe }}";
</script>


<div class="container selection-container">
    <form method="post">
        <label for="region-select">地區:</label>
        <select id="region-select" name="region" value="{{ selected_region }}">
            <option value="">所有地區</option>
            {% for region in region_options %}
            <option value="{{ region.value }}" {% if selected_region==region.value %}selected{% endif %}>{{ region.name
                }}</option>
            {% endfor %}
        </select>


        <label for="year-select">年份:</label>
        <select id="year-select" name="years">
            <option value="">所有年份</option>
            {% for year in year_options %}
            <option value="{{ year }}" {% if selected_year==year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>

        <label for="condition">選擇排序依據：</label>
        <select name="condition" id="condition">
            <option value="none" {% if selected_condition=='none' %}selected{% endif %}>None</option>
            <option value="release_date.desc" {% if selected_condition=='release_date.desc' %}selected{% endif %}>上映日期 ⬇
            </option>
            <option value="release_date.asc" {% if selected_condition=='release_date.asc' %}selected{% endif %}>上映日期 ⬆
            </option>
            <option value="popularity.desc" {% if selected_condition=='popularity.desc' %}selected{% endif %}>人氣 ⬇
            </option>
            <option value="popularity.asc" {% if selected_condition=='popularity.asc' %}selected{% endif %}>人氣 ⬆
            </option>
            <option value="vote_average.desc" {% if selected_condition=='vote_average.desc' %}selected{% endif %}>投票平均 ⬇
            </option>
            <option value="vote_average.asc" {% if selected_condition=='vote_average.asc' %}selected{% endif %}>投票平均 ⬆
            </option>
        </select>

        <label for="number">選擇搜尋筆數：</label>
        <select name="number" id="number">
            <option value="20" {% if selected_number==20 %}selected{% endif %}>20</option>
            <option value="100" {% if selected_number==100 %}selected{% endif %}>100</option>
            <option value="500" {% if selected_number==500 %}selected{% endif %}>500</option>
        </select>

        <button type="submit" class="btn btn-primary btn-sm" style="margin-left: 10px;"> Search</button>
    </form>
</div>


<!-- Bootstrap’s cards -->

<div class="row row-cols-1 row-cols-md-5 g-4">
    {% for movie in data %}
    <div class="col">
        <div class="card h-100 ">
            {% if movie.poster_path %}
            <img src="http://image.tmdb.org/t/p/w200/{{ movie.poster_path }}" class="card-img-top" style="padding: 5px;"
                alt="{{ movie.original_title }}">
            {% else %}
            <div class="placeholder-image"> </div>
            {% endif %}

            <div class="card-body">
                {% if movie.alternative_title %}
                <h5 class="card-title"
                    style="white-space: normal; word-wrap: break-word; max-width: 100%;height: 2.6em; line-height: 1.3em; margin-left: 2 px; margin-right: 10px; margin-top: 10px;">
                    {{ movie.alternative_title }}</h5>
                {% else %}
                <h5 class="card-title"
                    style="white-space: normal; word-wrap: break-word; max-width: 100%;height: 2.6em; line-height: 1.3em; margin-left: 2 px; margin-right: 10px; margin-top: 10px;">
                    {{ movie.original_title }}</h5>
                {% endif %}
                <p class="card-text mb-1" style="margin-top: 10px">人氣： {{ movie.popularity |round(1)}}</p>
                <p class="card-text mb-1">投票分數： {{ movie.vote_average |round(1) }}</p>
                <p class="card-text mb-1">上映日期：
                    {% if movie.release_date %}
                    {{ movie.release_date }}
                    {% else %}
                    不詳
                    {% endif %}
                </p> 
                <a href="#" class="btn btn-primary btn-readmore" data-movie-id="{{ movie.id }}">查看更多</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}